parameters:
    level: 5
    paths:
        - src
    excludePaths:
        analyseAndScan:
            - src/Laravel/SecretsServiceProvider.php.deferred (?)
            - src/Data/KeepRepository.php.deferred (?)
            - src/Contracts/KeepRepositoryInterface.php.deferred (?)
    reportUnmatchedIgnoredErrors: false